<?xml version="1.0"?>
<config>
	<modules>
		<Buybox_GiftCard>
			<version>1.2.0</version>
		</Buybox_GiftCard>
	</modules>
	<global>
		<models>
			<gift_card>
				<class>Buybox_GiftCard_Model</class>
			</gift_card>
		</models>
		<helpers>
			<gift_card>
				<class>Buybox_GiftCard_Helper</class>
			</gift_card>
		</helpers>
		<blocks>
			<gift_card>
				<class>Buybox_GiftCard_Block</class>
			</gift_card>
		</blocks>
		<payment>
			<groups>
				<gift_card>Buybox Shared Purchase</gift_card>
			</groups>
		</payment>
	</global>
	<frontend>
		<secure_url>
			<gift_card_payment>/gift_card/payment</gift_card_payment>
		</secure_url>
		<routers>
			<gift_card>
				<use>standard</use>
				<args>
					<module>Buybox_GiftCard</module>
					<frontName>gift_card</frontName>
				</args>
			</gift_card>
		</routers>
		<translate>
			<modules>
				<Buybox_GiftCard>
					<files>
						<default>Buybox_GiftCard.csv</default>
					</files>
				</Buybox_GiftCard>
			</modules>
		</translate>
		<layout>
			<updates>
				<gift_card>
					<file>buybox_gift_card.xml</file>
				</gift_card>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Buybox_GiftCard>
					<files>
						<default>Buybox_GiftCard.csv</default>
					</files>
				</Buybox_GiftCard>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<gift_card translate="title" module="gift_card">
											<title>Buybox Social Gift Card Section</title>
										</gift_card>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<gift_card>
			<front>
				<modal_flag>1</modal_flag>
			</front>
		</gift_card>
		<payment>
			<gift_card_payment>
				<model>gift_card/payment</model>
				<title>Buybox</title>
				<payment_action>Sale</payment_action>
				<user_action>commit</user_action>
				<sort_order>40</sort_order>
				<group>gift_card</group>
			</gift_card_payment>
		</payment>
	</default>
</config>
